/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
    font: 200 16px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.45em;
    margin: 0;
}
h3 {
    font-size: 1.7em;
}
.header {
    background-color: #1c5380;
    height: 40vh;
}
#showcase {
    top: 20%;
    left: 10%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}
#showcase > img {
    max-width: 50%;
    height: 100%;
}
#showcase > aside {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1c5380;
    width: 80%;
    padding-bottom: 0.8em;
}
#top > img {
    width: 70%;
}
#top > button {
    width: 25%;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    border: 1px solid #06365f;
    background-color: #1c5380;
    color: #fff;
}
#top > button > img {
    height: 60%;
    width: 25%;
}
#body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #06365f;
    width: 80%;
    height: 100%;
    padding: 2rem 3.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
#bottom {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 2.8rem;
}
#bottom button {
    border: none;
    width: 50%;
}
#bottom button img {
    width: 100%;
}

.footer {
    background-color: #fff;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.nav-bar {
    background-color: #fff;
    padding: 0.9rem 0;
    display: flex;
    width: 60%;
}

.nav-bar a {
    /* font-size: 2em; */
    text-decoration: none;
}
.nav-bar ul {
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar ul li {
    color: #06365f;
    list-style-type: none;
}
.nav-bar ul li:nth-child(9) {
    color: #000;
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
    #showcase {
        flex-direction: column;
    }
}
@media only screen and (min-width: 321px) and (max-width: 576px) {
    #showcase {
        flex-direction: column;
    }
}

@media only screen and (max-width: 320px) {
    .header {
        /* position: fixed; */
    }
    #showcase {
        flex-direction: column;
        width: 100vw;
    }
    #showcase aside {
        width: 100%;
    }
    #top {
        width: 100vw;
    }
    /* #top > aside {
        flex: 1;
    } */
    #top > img {
        width: 80%;
        height: 80%;
    }
    #top > button {
        flex-direction: column;
        font-size: 0.6rem;
    }
    #body {
        box-shadow: none;
    }
    #bottom {
        flex-direction: column;
        justify-content: space-around;
        width: 100vw;
    }
    #bottom button {
        margin-bottom: 1.5rem;
    }
    .footer {
        flex-direction: column;
    }
    .nav-bar ul {
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
}
